<!DOCTYPE html>
<html>
    <head>
        <title>Vue 3 Basic</title>
        <style>
            .box{
                background-color: blueviolet;
                height: 200px;
                width: 200px;
            }
            .box.two {
                background-color: red;
            }
            .box.three {
                background-color: blue;
            }
            [v-cloak]{
                display: none;
            }
        </style>
    </head>
    <body>
        <div id="app" v-cloak>
            {{greeting}}
            <input @keyup.enter="greet(greerting + '!!!!!!!!!!')" v-model="greeting" />
            <hr />
            <button @click.right="isVisible = !isVisible">Toggle box </button>

            <div v-if="isVisible" class="box"></div>

        </div>

        <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
        <script>
            let app = Vue.createApp({
                data: function(){
                    return{
                        greeting: 'Hello Fourth',
                        isVisible: false
                    }
                },
                methods:{
                    toggleBox() {
                        this.isVisible = !this.isVisible
                    },
                    greet(greerting){
                        console.log(greeting)
                    }
                }
            })
            app.mount('#app')
        </script>
    </body>
</html>
 